navbar
.main
  .container
    .col-md-12.col-sm-12
      .content-page
          sidebar 
          div(class="content col-md-9 col-sm-9")
            h1 Get Started
            p  Your application first need to obtain a token containing ApplicationID and Secret Key from KiboSupport. Once authenticated,Application's front end or back end can request our services using a Rest API.
            p  Please see a sample application implemented with this API here
            a(href='https://github.com/Cloudkibo/KiboSupport_Code_Sample')
              | https://github.com/Cloudkibo/KiboSupport_Code_Sample
            h3 Architecture Diagram
            img(src = 'app/getstarted/img/dataflow.PNG')
                     

footer
