navbar
.main
  .container
    ul.breadcrumb
      li
        a(href='index.html') Home
      li User Guide
    .row.margin-bottom-40
      // BEGIN CONTENT
      .col-md-12.col-sm-12
        h1 User Guide
        .content-page
          .row
            .col-md-3.col-sm-3
              ul.tabbable.faq-tabbable
                li
                  a(href='#tab_1', data-toggle='tab', aria-expanded='true') Overview
                li
                  a(href='#tab_2', data-toggle='tab', aria-expanded='true') Accounts and Dashboard
                li
                  a(href='#tab_3', data-toggle='tab', aria-expanded='true') Agents
                li
                  a(href='#tab_4', data-toggle='tab', aria-expanded='true') Groups
                li
                  a(href='#tab_5', data-toggle='tab', aria-expanded='true') Customer Calls
                li
                  a(href='#tab_6', data-toggle='tab', aria-expanded='true') Inviting Customers
                li
                  a(href='#tab_7', data-toggle='tab', aria-expanded='true') Widget
                li
                  a(href='#tab_8', data-toggle='tab', aria-expanded='true') Reports
                li
                  a(href='#tab_9', data-toggle='tab', aria-expanded='true') Company Settings
                li
                  a(href='#tab_10', data-toggle='tab', aria-expanded='true') My Profile
                li
                  a(href='#tab_11', data-toggle='tab', aria-expanded='true') My Picked Calls
                li
                  a(href='#tab_12', data-toggle='tab', aria-expanded='true') My Scheduled Calls
            .col-md-9.col-sm-9
              .tab-content(style='padding:0; background: #fff;')

                // START TAB 1
                #tab_1.tab-pane.active
                  #accordion1.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion1_1', data-parent='#accordion1', data-toggle='collapse', aria-expanded='true')
                            | Overview
                      #accordion1_1.panel-collapse
                        .panel-body
                          p
                            | KiboSupport is customer support system that uses next generation technology to connect with you customer instantly with Audio call, Screen sharing and live chat features.
                          p
                            | Kibosupport provide real-time support to your customers and proactively initiate chats with visitors on your website. With tools like shortcuts and agent-to-agent chat, collaborating on multiple chat conversations is a breeze for your support agents.
                          p
                            | KiboSupport provides a view on the agent dashboard that showcases the most relevant call statistics in the different call lists, when the agent first logs into Kibosupport. The view consists of waiting call list, inprogress calls list, abandoned calls list and completed calls list. These call lists include the calls that are new and open and assigned to particular agents' groups.
                          p
                            | The help visitor button eliminates cherry-picking of calls and improves agent productivity. Calls of one group are shared to available agents within a specific group(s).

                // END TAB 1

                // START TAB 2
                #tab_2.tab-pane
                  #accordion2.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_1', data-parent='#accordion2', data-toggle='collapse', aria-expanded='true')
                            | Accounts and Dashboard
                      #accordion2_1.panel-collapse
                        .panel-body
                          p
                            | When you login with you kibosupport account the first thing visible is dashboard is berif summary of visitors call statistics with the average wait time and average call duration of visitor calls.
                            | These waiting calls, inprogress calls, abandoned calls and complete calls are clickable. On click they show detailed view of each call and visitor. The details also shows which agent has picked the call. The side panel gives direct link to other Kibosupport features and call details.
                          h3 Company Settings
                          p
                            | On login with Kibosupport account you need to set company settings. These settings include some configuration settings for agents , groups and calls.

                // END TAB 2

                // START TAB 3
                #tab_3.tab-pane
                  #accordion3.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_1', data-parent='#accordion3', data-toggle='collapse', aria-expanded='true')
                            | Agents
                      #accordion3_1.panel-collapse
                        .panel-body
                          | Company can create group so that agent can be categoried according to their relevent area. To create group simple name the group and give description. To activate the group you need to assign an agent to the group to make it operative. List of groups can be seen also each group can be viewed and deleted. Compnay admin can give the right to supervisor to edit the group and agent can only view the group. further roles of Admin, Supervisor and Agent can be seen here
                          h3  Agent
                          p
                            | Agent list can be seen by admin and supervisor. Admin and supervisor can invite the agent using the email id. Invite link will be given to the agent via email, Kibosupport already has some information about the agent as given by admin or supervisor while sending invitation. When agent is invited it is shown as pending in the agent list until agent signs up. Pending requests for agent can aslo be deleted. Admin and supervisor can view agent and also Admin can change role of agent to
                            ul
                              li Admin
                              li Supervisor
                          | Customer can just fill a form and join agent in the call.

                // END TAB 3

                // START TAB 4
                #tab_4.tab-pane
                  #accordion4.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion4_1', data-parent='#accordion4', data-toggle='collapse', aria-expanded='true')
                            | Agents
                      #accordion4_1.panel-collapse
                        .panel-body
                          | Company can create group so that agent can be categoried according to their relevent area. To create group simple name the group and give description. To activate the group you need to assign an agent to the group to make it operative. List of groups can be seen also each group can be viewed and deleted. Compnay admin can give the right to supervisor to edit the group and agent can only view the group. further roles of Admin, Supervisor and Agent can be seen here
                          h3  Agent
                          p
                            | Agent list can be seen by admin and supervisor. Admin and supervisor can invite the agent using the email id. Invite link will be given to the agent via email, Kibosupport already has some information about the agent as given by admin or supervisor while sending invitation. When agent is invited it is shown as pending in the agent list until agent signs up. Pending requests for agent can aslo be deleted. Admin and supervisor can view agent and also Admin can change role of agent to
                            ul
                              li Admin
                              li Supervisor
                          | Customer can just fill a form and join agent in the call.

                // END TAB 4

                // START TAB 5
                #tab_5.tab-pane
                  #accordion5.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion5_1', data-parent='#accordion5', data-toggle='collapse', aria-expanded='true')
                            | Customer Calls
                      #accordion5_1.panel-collapse
                        .panel-body
                          h3 Audio/Video call
                          p
                            | Live call with your customer helps to have live conversation with your customer and understand their problems and solve them. Customer can just fill a form and join agent in the call.
                          h3 Live chat
                          p
                            | Instant chat feature allows your visitors to initiate a chat and communicate with your agents.
                          h3 Screen sharing
                          p
                            | Screen sharing feature helps you to direct your visitor directly to the answer they've been looking for, instead of trying to explain where to find the answer.
                          h3 Reports
                          p
                            | Bring focus on work performed by agents and groups, agent response time, call statistic, group traffic to get the insights. Analytics plays a huge role in customer service. Quality reports helps you to stay on target.
                          h3 Widget on website
                          p
                            | Each company has its own unique identity. Easy way to embed widget code and connect with you customer

                // END TAB 5

                // START TAB 6
                #tab_6.tab-pane
                  #accordion6.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion6_1', data-parent='#accordion6', data-toggle='collapse', aria-expanded='true')
                            | Inviting Customers
                      #accordion6_1.panel-collapse
                        .panel-body
                          |  This document ill inform you about how can you use the functionality provided by Kibosupport
                          h4 Sign up
                          p
                            | You can signup your compnay with Kibosupport with your email id.
                          h4 As company owner
                          p
                            | Company can sign up with company name and company domain name. The domain name will help admin of company to invite agent that have company domain email id.
                          h4 As company agent
                          p
                            | Admin can invite an agent to join its company and provide service to customers. Agent will be given invite link via email, agent's email id is already caputred and set by company admin. Agen can login using company domain emaild id ONLY, as set by company admin.
                          h4 Login
                          p
                            | Login with Kibosupport using registered email id and password.
                          h4 Reset password
                          p
                            | You can always reset your password by provding your registered Kibosupport email id. A rest email with password Reset Link will been sent to your email address. Check your spam or junk folder if you have not received the email.

                // END TAB 6

                // START TAB 7
                #tab_7.tab-pane
                  #accordion7.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion7_1', data-parent='#accordion7', data-toggle='collapse', aria-expanded='true')
                            | Widget
                      #accordion7_1.panel-collapse
                        .panel-body
                          | Widget helps you provide more efficient service to your visitors. You can embed the widget on your website with unique company id provided by Kibosupport. You must have to put a button on your page. The code is described to set widget to your pages.
                          h4 Widget UI for visitor
                          p
                            | Visitor can click the widget button and fill the form and ask question from any relevant group. For example: Sales group, Marketing group. And wait for agent to join the call.
                          h4 Report
                          p
                            |  Our Real-Time report gives you an overview of agents' activity. Measure your live call engagement with visitor. These reports can be viewed for Today, Last month and This Year
                          h4 Top Group calls
                          p
                            | This graph shows groups with respect to frequeny of calls made for.
                          h4 Agents picked calls
                          p
                            | This graph represents the agent with respect to number of calls picked by them.
                          h4 Averages
                          p
                            | This graph shows the average of wait time of all calls and average of call time during progress call. This graph shows the number of calls picked and completed with the number of calls abandoned.

                // END TAB 7

                // START TAB 8
                #tab_8.tab-pane
                  #accordion8.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion8_1', data-parent='#accordion8', data-toggle='collapse', aria-expanded='true')
                            | Reports
                      #accordion8_1.panel-collapse
                        .panel-body
                          | Widget helps you provide more efficient service to your visitors. You can embed the widget on your website with unique company id provided by Kibosupport. You must have to put a button on your page. The code is described to set widget to your pages.
                          h4 Widget UI for visitor
                          p
                            | Visitor can click the widget button and fill the form and ask question from any relevant group. For example: Sales group, Marketing group. And wait for agent to join the call.
                          h4 Report
                          p
                            |  Our Real-Time report gives you an overview of agents' activity. Measure your live call engagement with visitor. These reports can be viewed for Today, Last month and This Year
                          h4 Top Group calls
                          p
                            | This graph shows groups with respect to frequeny of calls made for.
                          h4 Agents picked calls
                          p
                            | This graph represents the agent with respect to number of calls picked by them.
                          h4 Averages
                          p
                            | This graph shows the average of wait time of all calls and average of call time during progress call. This graph shows the number of calls picked and completed with the number of calls abandoned.

                // END TAB 8

                // START TAB 9
                #tab_9.tab-pane
                  #accordion9.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion9_1', data-parent='#accordion9', data-toggle='collapse', aria-expanded='true')
                            | Company Settings
                      #accordion9_1.panel-collapse
                        .panel-body
                          p You can set following settings:
                            ul
                              li Max number of groups
                              p
                                | This gives restriction for not creating more than set number of groups.
                              li Company domain emails
                              p
                                | Company domain emails restricts that no agent or supervisor can join or be invited if they do not have company domain email.
                              li Show summary
                              p
                                | This allows agent, admin and supervisor to record summaray of visitor and show its call summary captured previously.
                              li Allow chat
                              p
                                | During the call you can allows chat feature to chat with visitor
                              li Abandoned call reschedule Sample emails
                              p
                                | Company admin, supervisor and agent can set three sample emails to schedule any abandoned call.
                              li Completed call reschedule Sample emails
                              p
                                | Company admin, supervisor and agent can set three sample emails to reschedule any completed call.
                              li Invited call reschedule Sample emails
                              p
                                | Company admin, supervisor and agent can set three sample emails to invite customer for call.

                // END TAB 9

                // START TAB 10
                #tab_10.tab-pane
                  #accordion10.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion10_1', data-parent='#accordion10', data-toggle='collapse', aria-expanded='true')
                            | My Profile
                      #accordion10_1.panel-collapse
                        .panel-body
                          | Widget helps you provide more efficient service to your visitors. You can embed the widget on your website with unique company id provided by Kibosupport. You must have to put a button on your page. The code is described to set widget to your pages.
                          h4 Widget UI for visitor
                          p
                            | Visitor can click the widget button and fill the form and ask question from any relevant group. For example: Sales group, Marketing group. And wait for agent to join the call.
                          h4 Report
                          p
                            |  Our Real-Time report gives you an overview of agents' activity. Measure your live call engagement with visitor. These reports can be viewed for Today, Last month and This Year
                          h4 Top Group calls
                          p
                            | This graph shows groups with respect to frequeny of calls made for.
                          h4 Agents picked calls
                          p
                            | This graph represents the agent with respect to number of calls picked by them.
                          h4 Averages
                          p
                            | This graph shows the average of wait time of all calls and average of call time during progress call. This graph shows the number of calls picked and completed with the number of calls abandoned.

                // END TAB 10

                // START TAB 11
                #tab_11.tab-pane
                  #accordion11.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion11_1', data-parent='#accordion11', data-toggle='collapse', aria-expanded='true')
                            | My Picked Calls
                      #accordion11_1.panel-collapse
                        .panel-body
                          | Widget helps you provide more efficient service to your visitors. You can embed the widget on your website with unique company id provided by Kibosupport. You must have to put a button on your page. The code is described to set widget to your pages.
                          h4 Widget UI for visitor
                          p
                            | Visitor can click the widget button and fill the form and ask question from any relevant group. For example: Sales group, Marketing group. And wait for agent to join the call.
                          h4 Report
                          p
                            |  Our Real-Time report gives you an overview of agents' activity. Measure your live call engagement with visitor. These reports can be viewed for Today, Last month and This Year
                          h4 Top Group calls
                          p
                            | This graph shows groups with respect to frequeny of calls made for.
                          h4 Agents picked calls
                          p
                            | This graph represents the agent with respect to number of calls picked by them.
                          h4 Averages
                          p
                            | This graph shows the average of wait time of all calls and average of call time during progress call. This graph shows the number of calls picked and completed with the number of calls abandoned.

                // END TAB 11

                // START TAB 12
                #tab_12.tab-pane
                  #accordion12.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion12_1', data-parent='#accordion12', data-toggle='collapse', aria-expanded='true')
                            | My Scheduled Calls
                      #accordion12_1.panel-collapse
                        .panel-body
                          | Widget helps you provide more efficient service to your visitors. You can embed the widget on your website with unique company id provided by Kibosupport. You must have to put a button on your page. The code is described to set widget to your pages.
                          h4 Widget UI for visitor
                          p
                            | Visitor can click the widget button and fill the form and ask question from any relevant group. For example: Sales group, Marketing group. And wait for agent to join the call.
                          h4 Report
                          p
                            |  Our Real-Time report gives you an overview of agents' activity. Measure your live call engagement with visitor. These reports can be viewed for Today, Last month and This Year
                          h4 Top Group calls
                          p
                            | This graph shows groups with respect to frequeny of calls made for.
                          h4 Agents picked calls
                          p
                            | This graph represents the agent with respect to number of calls picked by them.
                          h4 Averages
                          p
                            | This graph shows the average of wait time of all calls and average of call time during progress call. This graph shows the number of calls picked and completed with the number of calls abandoned.

                // END TAB 12
                // END TABS

        // END CONTENT
      // END CONTENT
footer
