navbar
.main
  .container
    ul.breadcrumb
      li
        a(href='index.html') Home
      li
        a(href='javascript:;') Pages
      li.Documentation
    .row.margin-bottom-40
      // BEGIN CONTENT
      .col-md-12.col-sm-12
        h1 Documentation
        .content-page
          .row
            .col-md-3.col-sm-3
              ul.tabbable.faq-tabbable
                li.active
                  a(href='#tab_1', data-toggle='tab') Rest API
                li
                  a(href='#tab_2', data-toggle='tab') Webhook
                li
                  a(href='#tab_3', data-toggle='tab') Server Side
                li
                  a(href='#tab_1', data-toggle='tab') Client Side
                li
                  a(href='#tab_2', data-toggle='tab') Integration
                li
                  a(href='#tab_3', data-toggle='tab') Backend
            .col-md-9.col-sm-9
              .tab-content(style='padding:0; background: #fff;')
                // START TAB 1
                #tab_1.tab-pane.active
                  #accordion1.panel-group
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion1_1', data-parent='#accordion1', data-toggle='collapse')
                            | 1. User Guide
                      #accordion1_1.panel-collapse.collapse.in
                        .panel-body
                          p
                            | If you want to run existing Cloudkibo application, User Guide expalins Cloudkibo features and use of interface. It explains how to use application to make calls, meeting with multiple users, chat with contact or with group during the call and file transfer to contact and during meeting call.
                          ul
                            li Features
                            li Application use


                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle.collapsed(href='#accordion1_2', data-parent='#accordion1', data-toggle='collapse')
                            | 2. Features
                      #accordion1_2.panel-collapse.collapse
                        .panel-body
                          h3 Audio/Video call
                          p
                            | Live call with your customer helps to have live conversation with your customer and understand their problems and solve them. Customer can just fill a form and join agent in the call.
                          h3 Live chat
                          p
                            | Instant chat feature allows your visitors to initiate a chat and communicate with your agents.
                          h3 Screen sharing
                          p
                            | Screen sharing feature helps you to direct your visitor directly to the answer they've been looking for, instead of trying to explain where to find the answer.
                          h3 Reports
                          p
                            | Bring focus on work performed by agents and groups, agent response time, call statistic, group traffic to get the insights. Analytics plays a huge role in customer service. Quality reports helps you to stay on target.
                          h3 Widget on website
                          p
                            | Each company has its own unique identity. Easy way to embed widget code and connect with you customer

                    .panel.panel-success
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle.collapsed(href='#accordion1_3', data-parent='#accordion1', data-toggle='collapse')
                            | 3. Application use
                      #accordion1_3.panel-collapse.collapse
                        .panel-body
                          | This document ill inform you about how can you use the functionality provided by Kibosupport
                    .panel.panel-warning
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle.collapsed(href='#accordion1_4', data-parent='#accordion1', data-toggle='collapse')
                            | 4. Sign up
                      #accordion1_4.panel-collapse.collapse
                        .panel-body
                          | You can signup your compnay with Kibosupport with your email id.
                          h4 As company owner
                          p
                            | Company can sign up with company name and company domain name. The domain name will help admin of company to invite agent that have company domain email id.
                          h4 As company agent
                          p
                            | Admin can invite an agent to join its company and provide service to customers. Agent will be given invite link via email, agent's email id is already caputred and set by company admin. Agen can login using company domain emaild id ONLY, as set by company admin.
                          h4 Login
                          p
                            | Login with Kibosupport using registered email id and password.
                          h4 Reset password
                          p
                            | | You can alays reset your password by provding your registered Kibosupport email id. A rest email with password Reset Link will been sent to your email address. Check your spam or junk folder if you have not received the email.
                    .panel.panel-danger
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle.collapsed(href='#accordion1_5', data-parent='#accordion1', data-toggle='collapse')
                            | 5. Group
                      #accordion1_5.panel-collapse.collapse
                        .panel-body
                          | Company can create group so that agent can be categoried according to their relevent area. To create group simple name the group and give description. To activate the group you need to assign an agent to the group to make it operative. List of groups can be seen also each group can be viewed and deleted. Compnay admin can give the right to supervisor to edit the group and agent can only view the group. further roles of Admin, Supervisor and Agent can be seen here
                          h3  Agent
                          p
                            | Agent list can be seen by admin and supervisor. Admin and supervisor can invite the agent using the email id. Invite link will be given to the agent via email, Kibosupport already has some information about the agent as given by admin or supervisor while sending invitation. When agent is invited it is shown as pending in the agent list until agent signs up. Pending requests for agent can aslo be deleted. Admin and supervisor can view agent and also Admin can change role of agent to
                            ul
                              li Admin
                              li Supervisor
                          | Customer can just fill a form and join agent in the call.
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle.collapsed(href='#accordion1_6', data-parent='#accordion1', data-toggle='collapse')
                            | Dashboard
                      #accordion1_6.panel-collapse.collapse
                        .panel-body
                          | You can alays reset your password by provding your registered Kibosupport email id. A rest email with password Reset Link will been sent to your email address. Check your spam or junk folder if you have not received the email.
                          p
                            | When you login with you kibosupport account the first thing visible is dashboard is berif summary of visitors call statistics with the average wait time and average call duration of visitor calls.
                            | These waiting calls, inprogress calls, abandoned calls and complete calls are clickable. On click they show detailed view of each call and visitor. The details also shows which agent has picked the call. The side panel gives direct link to other Kibosupport features and call details.
                          h3 Company Settings
                          p
                            | On login with Kibosupport account you need to set company settings. These settings include some configuration settings for agents , groups and calls.
                          h3 Company Settings
                          p You can set following settings:
                            ul
                              li Max number of groups
                              p
                                | This gives restriction for not creating more than set number of groups.
                              li Company domain emails
                              p
                                | Company domain emails restricts that no agent or supervisor can join or be invited if they do not have company domain email.
                              li Show summary
                              p
                                | This allows agent, admin and supervisor to record summaray of visitor and show its call summary captured previously.
                              li Allow chat
                              p
                                | During the call you can allows chat feature to chat with visitor
                              li Abandoned call reschedule Sample emails
                              p
                                | Company admin, supervisor and agent can set three sample emails to schedule any abandoned call.
                              li Completed call reschedule Sample emails
                              p
                                | Company admin, supervisor and agent can set three sample emails to reschedule any completed call.
                              li Invited call reschedule Sample emails
                              p
                                | Company admin, supervisor and agent can set three sample emails to invite customer for call.

                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle.collapsed(href='#accordion1_7', data-parent='#accordion1', data-toggle='collapse')
                            | 7. Widget
                      #accordion1_7.panel-collapse.collapse
                        .panel-body
                          | Widget helps you provide more efficient service to your visitors. You can embed the widget on your website with unique company id provided by Kibosupport. You must have to put a button on your page. The code is described to set widget to your pages.
                          h4 Widget UI for visitor
                          p
                            | Visitor can click the widget button and fill the form and ask question from any relevant group. For example: Sales group, Marketing group. And wait for agent to join the call.
                          h4 Report
                          p
                            |  Our Real-Time report gives you an overview of agents' activity. Measure your live call engagement with visitor. These reports can be viewed for Today, Last month and This Year
                          h4 Top Group calls
                          p
                            | This graph shows groups with respect to frequeny of calls made for.
                          h4 Agents picked calls
                          p
                            |This graph represents the agent with respect to number of calls picked by them.
                          h4 Averages
                          p
                            | This graph shows the average of wait time of all calls and average of call time during progress call. This graph shows the number of calls picked and completed with the number of calls abandoned.

                // END TAB 1
                // START TAB 2
                #tab_2.tab-pane
                  #accordion2.panel-group
                    .panel.panel-warning
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_1', data-parent='#accordion2', data-toggle='collapse')
                            | 1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                      #accordion2_1.panel-collapse.collapse.in
                        .panel-body
                          p
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          p
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-danger
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_2', data-parent='#accordion2', data-toggle='collapse')
                            | 2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                      #accordion2_2.panel-collapse.collapse
                        .panel-body
                          | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
                          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-success
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_3', data-parent='#accordion2', data-toggle='collapse')
                            | 3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
                      #accordion2_3.panel-collapse.collapse
                        .panel-body
                          | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
                          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_4', data-parent='#accordion2', data-toggle='collapse')
                            | 4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
                      #accordion2_4.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_5', data-parent='#accordion2', data-toggle='collapse')
                            | 5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
                      #accordion2_5.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_6', data-parent='#accordion2', data-toggle='collapse')
                            | 6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ?
                      #accordion2_6.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion2_7', data-parent='#accordion2', data-toggle='collapse')
                            | 7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ?
                      #accordion2_7.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                // END TAB 3
                // START TAB 3
                #tab_3.tab-pane
                  #accordion3.panel-group
                    .panel.panel-danger
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_1', data-parent='#accordion3', data-toggle='collapse')
                            | 1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                      #accordion3_1.panel-collapse.collapse.in
                        .panel-body
                          p
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                          p
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                          p
                            | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-success
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_2', data-parent='#accordion3', data-toggle='collapse')
                            | 2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                      #accordion3_2.panel-collapse.collapse
                        .panel-body
                          | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
                          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_3', data-parent='#accordion3', data-toggle='collapse')
                            | 3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
                      #accordion3_3.panel-collapse.collapse
                        .panel-body
                          | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
                          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_4', data-parent='#accordion3', data-toggle='collapse')
                            | 4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
                      #accordion3_4.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_5', data-parent='#accordion3', data-toggle='collapse')
                            | 5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
                      #accordion3_5.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_6', data-parent='#accordion3', data-toggle='collapse')
                            | 6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ?
                      #accordion3_6.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(href='#accordion3_7', data-parent='#accordion3', data-toggle='collapse')
                            | 7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ?
                      #accordion3_7.panel-collapse.collapse
                        .panel-body
                          | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et
                // END TAB 3
      // END CONTENT
footer
