navbar
.main
  .container
    .col-md-12.col-sm-12
      .content-page
          sidebar
          div(class="content col-md-9 col-sm-9")
            h1 REST API Documentation
            p  Welcome to the KiboSupport API documentation! Our API provides flexible tools that can be used in the creation of new, outstanding projects.
            p  KiboSupport API returns data in JSON format. 
            ol
              
                li 
                  b USERS (ADMIN, SUPERVISORS AND AGENTS)
                  ol
                             li 
                                b LIST ALL AGENTS
                                p Returns all KiboSupport agents list of a particular company.
                                span https://api.kibosupport.com/api/users/allagents
                                p HTTP Method: GET
                                p Response : Response consists of two JSON arrays: agents and departments. Departments array contains array items of department names and each of this array item is for corresponding agent item in agents array
                             li 
                                b GET USER PROFILE
                                p Use this integration to get the profile of the authenticated user.
                                span https://api.kibosupport.com/api/users/me
                                p    HTTP Method: GET
                             li 
                               b UPDATE PROFILE OF THE USER
                               p Use this integration to update the profile of the user.
                               span https://api.kibosupport.com/api/users/updateprofile
                               p    HTTP Method: POST
                               p    Parameters : firstname,lastname,phone,city,state,country
                               p    Response : { status: 'success',	msg: {<< Modified User Profile >>}}

                li
                 b Visitor Calls
                 ol
                    li
                       b GET ALL VISITOR CALLS INFORMATION OF A COMPANY
                       p Use this integration to get the list of all the visitor calls of a company.
                       span https://api.kibosupport.com/api/visitorcalls/
                       p    HTTP Method: GET
                    li
                       b GET ALL VISITOR WAITING CALLS INFORMATION OF A COMPANY
                       p Use this integration to get the list of all the visitor waiting calls of a company.
                       span https://api.kibosupport.com/api/visitorcalls/waitingcalls
                       p    HTTP Method: GET
                    li
                       b GET ALL VISITOR IN-PROGRESS CALLS INFORMATION OF A COMPANY
                       p Use this integration to get the list of all the visitor in-progress calls of a company.
                       span https://api.kibosupport.com/api/visitorcalls/progresscalls
                       p    HTTP Method: GET

                    li
                       b GET ALL VISITOR ABANDONED CALLS INFORMATION OF A COMPANY
                       p Use this integration to get the list of all the visitor abandoned calls (not picked or missed calls) of a company.
                       span https://api.kibosupport.com/api/visitorcalls/abandonedcalls
                       p    HTTP Method: GET

                    li
                       b GET ALL COMPLETED CALLS INFORMATION OF A COMPANY
                       p Use this integration to get the list of all the visitor completed calls of a company.
                       span https://api.kibosupport.com/api/visitorcalls/completedcalls
                       p    HTTP Method: GET
                       
                li
                  b COMPANY PROFILE
                  ol
                    li
                       b GET PROFILE OF A COMPANY
                       p Use this integration to get the profile of a company of authenticated admin.
                       span https://api.kibosupport.com/api/companyprofiles/fetch
                       p    HTTP Method: GET
                li
                  b GROUPS (DEPARTMENTS)
                  ol
                    li
                       b GET ALL GROUPS OF A COMPANY
                       p Use this integration to get the list of groups in a company of authenticated admin.
                       span https://api.kibosupport.com/api/departments/
                       p    HTTP Method: GET

                    li
                       b GET DETAILS OF GROUP OF A COMPANY
                       p Use this integration to get the details of group in a company.
                       span https://api.kibosupport.com/api/departments/:id
                       p    HTTP Method: GET
                       p Required Parameters:id	(department id in URL parameter)
                
                li
                  b Call Statistics
                  ol
                    li
                      b GET Department wise Call Statistics
                      p    Use this integration to get the call statistics department wise.
                      p    Path : https://api.kibosupport.com/api/visitorcalls/deptcallstats
                      p    HTTP Method: GET
                    
                    li
                      b GET Agent wise Call Statistics
                      p    Use this integration to get call statistics agent wise
                      p    Path : https://api.kibosupport.com/api/visitorcalls/agentcallstats
                      p    HTTP Method: GET
                    
                    li
                      b GET Date wise Call Statistics
                      p    Use this integration to get get date wise call statistics.
                      p    Path : https://api.kibosupport.com/api/visitorcalls/datewisecallstats
                      p    HTTP Method: GET
                   
footer
