navbar
.main
  .container
    ul.breadcrumb
      li
        a(href='/') Home
      li.active Features
    // BEGIN SIDEBAR & CONTENT
    .row.margin-bottom-40
      // BEGIN CONTENT
      .col-md-12.col-sm-12
        h1 Features
        .content-page
          .row
            // BEGIN SERVICE BLOCKS
            .col-md-7
              .row.margin-bottom-20
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-commenting-o.color-grey
                    h2 Chat
                    p
                      | Chat is the proactive way to engage your customer. Instant chat feature allows your visitors to initiate a chat and communicate with your agents.
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-microphone.color-grey
                    h2 Audio Call
                    p
                      | Live call with your customer helps to have live conversation with your customer and understand their problems and solve them. Customer can just fill a form and join agent in the call.
              .row.margin-bottom-20
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-television.color-grey
                    h2 Screen Sharing
                    p
                      | Screen sharing feature helps you to direct your visitor directly to the answer they've been looking for, instead of trying to explain where to find the answer.
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-user.color-grey
                    h2 Agent
                    p
                      | Invte agent to you company to help reach more customers and solve their problems by individually talking to them
              .row.margin-bottom-20
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-users.color-grey
                    h2 Groups
                    p
                      | Organize call according to group so customer reched right person to deal with its area problem
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-list-alt.color-grey
                    h2 Widget
                    p
                      | Each company has its own unique identity. Easy way to embed widget code and connect with you customer
              .row.margin-bottom-20
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-weixin.color-grey
                    h2 Chat Summary
                    p
                      | Add comments during the call. Jot down the main problems and save them for future
                .col-md-6
                  .service-box-v1
                    div
                      i.fa.fa-file-text.color-grey
                    h2 Reports
                    p
                      | Bring focus on work performed by agents and groups, agent response time, call statistic, group traffic to get the insights. Analytics plays a huge role in customer service. Quality reports helps you to stay on target.
            // END SERVICE BLOCKS
footer
