navbar
.main
  .container
    ul.breadcrumb
      li
        a(href='/') Home
      li.active Contact
    .row.margin-bottom-40
      // BEGIN CONTENT
      .col-md-12
        h1 Thank you
        .content-page
          .row
            .col-md-9.col-sm-9
              h2
              p Thank you for contacting Kibosupport and providing feedback.
              // BEGIN FORM

                button.btn.btn-default(type='button') Cancel
              // END FORM
              p &nbsp;
              alert(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)') {{alert.msg}}
            .col-md-3.col-sm-3.sidebar2
footer
