navbar
.main
  .container
    .col-md-12.col-sm-12
      .content-page
          sidebar 
          div(class="content col-md-9 col-sm-9")
            h1 Welcome to KiboSupport Documentation
            p  Welcome to the KiboSupport API documentation! Our API provides flexible tools that can be used in the creation of new, outstanding projects.
            h2 Documentation Content
            ol 
                 
                 li 
                    h3   Get Started
                    span Presents an architectural view of your application and how the communication takes place between KiboSupport and your application
                 li 
                    h3   How to Authenticate
                    span Guides on how to get authentication token from KiboSupport
                 li 
                    h3   REST API Documentation
                    span Detailed documentation of REST API endpoints
                                   
                 li 
                    h3   Sample Codes
                    span Will help you in getting started
                 li 
                    h3   Definitions
                    span Brief description of terminologies referenced in documentation
                 
            
            
                     

footer
