.pre-header
  .container
    .row
      // BEGIN TOP BAR LEFT PART
      .col-md-6.col-sm-6.additional-shop-info
        ul.list-unstyled.list-inline
          li
            i.fa.fa-phone
            span  1-425-890-9414
          li
            i.fa.fa-envelope-o
            a(ng-href='/contact')
              span support@cloudkibo.com
          li
            i
            span
              button(onclick="loadKiboWidget('cd89f71715f2014725163952')")  Live Help
      // END TOP BAR LEFT PART
      // BEGIN TOP BAR MENU
      .col-md-6.col-sm-6.additional-nav
        ul.list-unstyled.list-inline.pull-right
          li
            a(href='https://api.kibosupport.com/login') Login
          li
            a(href='https://api.kibosupport.com/signup') Sign up
      // END TOP BAR MENU
// END TOP BAR
// BEGIN HEADER
.header
  .container
    a.site-logo(href='/')
      // img(src='/assets/frontend/layout/img/logos/logo-corp-red.png', alt='Metronic FrontEnd')
      | KiboSupport
    a.mobi-toggler(href='javascript:void(0);')
      i.fa.fa-bars
    // BEGIN NAVIGATION
    .header-navigation.pull-right.font-transform-inherit
      ul
        li
          a(href='/') Home
        li
          a(href='/features') Features
        li
          a(href='/aboutus') About Us
        li
          a(href='/contact') Contact Us
        // END TOP SEARCH
    // END NAVIGATION
// Header END
