navbar
.main
  .container
    ul.breadcrumb
      li
        a(href='/') Home
      li.active Contact
    .row.margin-bottom-40
      // BEGIN CONTENT
      .col-md-12
        h1 Contacts
        .content-page
          .row
            .col-md-9.col-sm-9
              h2 Contact Form
              p Contact Kibosupport and provide feedback
              // BEGIN FORM
              form(action='#', role='form')
                .form-group
                  label(for='contacts-name') Name
                  input#contacts-name.form-control(type='text')
                .form-group
                  label(for='contacts-email') Email
                  input#contacts-email.form-control(type='email')
                .form-group
                  label(for='contacts-message') Message
                  textarea#contacts-message.form-control(rows='5')
                button.btn.btn-primary(type='submit')
                  i.icon-ok
                  | Send
                button.btn.btn-default(type='button') Cancel
              // END FORM
            .col-md-3.col-sm-3.sidebar2
footer
