div(class='sidebar col-md-2')
               ul(class='list-group margin-bottom-25 sidebar-menu')
                 li(class='list-group-item clearfix')
                   a(href='/getstarted')
                     i(class='fa fa-angle-right')
                     | Get Started
                 li(class='list-group-item clearfix')
                   a(href='/howto')
                     i(class='fa fa-angle-right')
                     | How to Authenticate
                 li(class='list-group-item clearfix')
                   a(href='/restapi')
                     i(class='fa fa-angle-right')
                     | Rest API
                 li(class='list-group-item clearfix')
                     a(href='/samplecode')
                       i(class='fa fa-angle-right')
                       | Sample Code
                 li(class='list-group-item clearfix')
                   a(href='/definitions')
                     i(class='fa fa-angle-right')
                     | Definitions
                