navbar
.main
  .container
    ul.breadcrumb
      li
        a(href='/') Home
      li.active About Us
    // BEGIN SIDEBAR & CONTENT
    .row.margin-bottom-40
      // BEGIN CONTENT
      .col-md-12.col-sm-12
        h1 About Us
        .content-page
          .row.margin-bottom-30
            // BEGIN INFO BLOCK
            .col-md-7
              h2.no-top-space KiboSupport
              p
                | KiboSupport is customer support system that uses next generation technology to connect with you customer instantly with Audio call, Screen sharing and live chat features. It is well-designed customer service system for dealing with incoming call requests from any web page.
              p
                | Kibosupport Provide real-time support to your customers and proactively initiate chats with visitors on your website. With tools like shortcuts and agent-to-agent chat, collaborating on multiple chat conversations is a breeze for your support agents.
              // BEGIN LISTS
              .row.front-lists-v1
                .col-md-6
                  ul.list-unstyled.margin-bottom-20
                    li
                      i.fa.fa-check
                      | Audio call
                    li
                      i.fa.fa-check
                      | Instant Chat
                    li
                      i.fa.fa-check
                      | Screen sharing
                .col-md-6
                  ul.list-unstyled
                    li
                      i.fa.fa-check
                      | Reports
                    li
                      i.fa.fa-check
                      | Widget
                    li
                      i.fa.fa-check
                      | Chat summary
              // END LISTS
    // END SIDEBAR & CONTENT
footer
