navbar
.main
  .container
    ul.breadcrumb
      li
        a(href='index.html') Home
      li
        a(href='javascript:;') Pages
      li.active Prices
    // BEGIN CONTENT
    .row.margin-bottom-40
      // BEGIN CONTENT
      .col-md-12.col-sm-12
        h1 Prices
        .content-page
          .row.margin-bottom-40
            // Pricing
            .col-md-3
              .pricing.hover-effect
                .pricing-head
                  h3
                    | Begginer
                    span
                      | Officia deserunt mollitia
                  h4
                    i $
                    | 5
                    i .49
                    span
                      | Per Month
                ul.pricing-content.list-unstyled
                  li
                    i.fa.fa-tags
                    | At vero eos
                  li
                    i.fa.fa-asterisk
                    | No Support
                  li
                    i.fa.fa-heart
                    | Fusce condimentum
                  li
                    i.fa.fa-star
                    | Ut non libero
                  li
                    i.fa.fa-shopping-cart
                    | Consecte adiping elit
                .pricing-footer
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                  a.btn.btn-primary(href='javascript:;')
                    | Sign Up
                    i.m-icon-swapright.m-icon-white
            .col-md-3
              .pricing.hover-effect
                .pricing-head
                  h3
                    | Pro
                    span
                      | Officia deserunt mollitia
                  h4
                    i $
                    | 8
                    i .69
                    span
                      | Per Month
                ul.pricing-content.list-unstyled
                  li
                    i.fa.fa-tags
                    | At vero eos
                  li
                    i.fa.fa-asterisk
                    | No Support
                  li
                    i.fa.fa-heart
                    | Fusce condimentum
                  li
                    i.fa.fa-star
                    | Ut non libero
                  li
                    i.fa.fa-shopping-cart
                    | Consecte adiping elit
                .pricing-footer
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                  a.btn.btn-primary(href='javascript:;')
                    | Sign Up
                    i.m-icon-swapright.m-icon-white
            .col-md-3
              .pricing.pricing-active.hover-effect
                .pricing-head.pricing-head-active
                  h3
                    | Expert
                    span
                      | Officia deserunt mollitia
                  h4
                    i $
                    | 13
                    i .99
                    span
                      | Per Month
                ul.pricing-content.list-unstyled
                  li
                    i.fa.fa-tags
                    | At vero eos
                  li
                    i.fa.fa-asterisk
                    | No Support
                  li
                    i.fa.fa-heart
                    | Fusce condimentum
                  li
                    i.fa.fa-star
                    | Ut non libero
                  li
                    i.fa.fa-shopping-cart
                    | Consecte adiping elit
                .pricing-footer
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                  a.btn.btn-primary(href='javascript:;')
                    | Sign Up
                    i.m-icon-swapright.m-icon-white
            .col-md-3
              .pricing.hover-effect
                .pricing-head
                  h3
                    | Hi-Tech
                    span
                      | Officia deserunt mollitia
                  h4
                    i $
                    | 99
                    i .00
                    span
                      | Per Month
                ul.pricing-content.list-unstyled
                  li
                    i.fa.fa-tags
                    | At vero eos
                  li
                    i.fa.fa-asterisk
                    | No Support
                  li
                    i.fa.fa-heart
                    | Fusce condimentum
                  li
                    i.fa.fa-star
                    | Ut non libero
                  li
                    i.fa.fa-shopping-cart
                    | Consecte adiping elit
                .pricing-footer
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                  a.btn.btn-primary(href='javascript:;')
                    | Sign Up
                    i.m-icon-swapright.m-icon-white
            // //End Pricing
    // END CONTENT
footer
