navbar
.main
  .container
    .col-md-12.col-sm-12
      .content-page
          sidebar 
          div(class="content col-md-9 col-sm-9")
            h1 Definitions
            ol
              li
                b Agent
                p Agent refers to the person designated by a company to provide assistance to customers in resolving complaints.
              li
                b Visitor
                p Visitor refers to a customer who needs assistance from agent
              li
                b Groups(Departments)
                p Groups are made in company to organize the agents into different categories according to domain. Visitor calls are directed to the agents of the only group to which calls were made.
              li
                b Ticket
                p A ticket refers to a token containing app-id,app-secret and client-id.To fetch data from CloudKibo,developers are required to obtain ticket from CloudKibo

footer
